<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆界面</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div class="box">
        <div class="header">
            <h3>河北科技大学新闻发布系统</h3>
        </div>
        <form action="" method="get">
            <label for="userName">用户名</label>
            <input type="text" name="userName" id="userName"></br>
            <label for="pas">密码：</label>
            <input type="password" name="pas" id="pas">
            
        </form>
        <a href=""><button>登陆</button></a>
        <a href=""><button>注册</button></a>
    </div>
</body>
</html>