<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
</head>
<body>
    <div class="box">
        <form action="" method="get">
            <label for="name">*姓名:</label>
            <input type="text" required></br>
            <label for="class">*班级：</label>
            <input type="text" required id="class"></br>
            <label for="clo">*班级：</label>
            <input type="text" required id="clo"></br>
            <label for="email">邮箱：</label>
            <input type="email" id="email"></br>
            <label for="pas">密码：</label>
            <input type="password" id="pas"></br>
            <button>提交</button>
        </form>
    </div>
</body>
</html>